* {
  box-sizing: border-box;
}

.App {
  margin: 0 auto;
  text-align: center;

  width: 100vw;
  height: 100vw;
  max-height: 90vh;
  max-width: 90vh;
}
.sketch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  margin: 0.2em;
}

nav a {
  display: block;
  text-decoration: none;
  color: black;
}
nav a:hover {
  text-decoration: underline;
  color: "#660000";
}

nav a.active {
  font-weight: bold;
}
